---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="AI Judge" slug="about">
  <main
    class="text-2xl text-center flex items-center justify-center flex-col gap-5"
  >
    <h2>AI Judge for Digimon Card Game.</h2>
    <a href="https://cafecito.app/warben" rel="noopener" target="_blank"
      ><img
        srcset="https://cdn.cafecito.app/imgs/buttons/button_6.png 1x, https://cdn.cafecito.app/imgs/buttons/button_6_2x.png 2x, https://cdn.cafecito.app/imgs/buttons/button_6_3.75x.png 3.75x"
        src="https://cdn.cafecito.app/imgs/buttons/button_6.png"
        alt="Invitame un café en cafecito.app"
      /></a
    >
  </main>
</Layout>
