---
import Layout from "@/layouts/Layout.astro";
export const prerender = true;
---

<Layout title="AI Judge" slug="about">
  <h2 class="bolder text-2xl">AI Judge for Digimon Card Game.</h2>

  <h2 class="text-xl">Other digimon apps:</h2>
  <a
    class="text-xl text-yellow-300 hover:underline"
    href="https://digimon-tcg-price-calculator.vercel.app/"
    >Digimon TCG price calculator</a
  >
  <a
    class="text-xl text-yellow-300 hover:underline"
    href="https://digimoncard.dev/">Digimon TCG database</a
  >
</Layout>
