---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="AI Judge" slug="about">
  <main
    class="text-2xl text-center flex items-center justify-center flex-col gap-5"
  >
    <h2>AI Judge for Digimon Card Game.</h2>
  </main>
</Layout>
