---
import Layout from "@/layouts/Layout.astro";
export const prerender = true;
---

<Layout title="AI Judge" slug="about">
  <h2 class="font-bold text-3xl mb-4">Herramientas para el Juego de Cartas Digimon</h2>
  <p class="mb-4"><span class="font-semibold">4/5/2024:</span> Prices Api 1.0 Fixeos varios de spacegaminglomas, agregado endpoint GET api/v1/prices?card_number=bt1-001</p>
  
  <p class="mb-6 text-lg"><span class="font-semibold">2/5/2024:</span> se agregó una API de precios que incluye datos de: <a href="https://www.tcgplayer.com/" target="_blank" class="text-yellow-400 hover:text-yellow-500 underline">TCGPlayer</a>, <a href="https://phoenixreborn.com.ar/" target="_blank" class="text-yellow-400 hover:text-yellow-500 underline">Phoenix Reborn</a>, <a href="https://spacegaminglomas.com/" target="_blank" class="text-yellow-400 hover:text-yellow-500 underline">SpaceGaming Lomas</a>, <a href="https://www.laguaridadelelfo.com.ar/" target="_blank" class="text-yellow-400 hover:text-yellow-500 underline">La Guarida del Elfo</a>.</p>
  <h2 class="font-bold text-3xl mb-4">Otras aplicaciones de Digimon:</h2>
  <a
    class="block mb-2 text-2xl text-yellow-400 hover:text-yellow-500 underline"
    href="https://digimon-tcg-price-calculator.vercel.app/"
    target="_blank"
    >Digimon TCG price calculator</a
  >
  <a
    class="block text-2xl text-yellow-400 hover:text-yellow-500 underline"
    href="https://digimoncard.dev/"
    target="_blank">Digimon TCG database</a
  >
</Layout>
