---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="AI Judge" slug="about">
  <main class="text-2xl text-center">AI Judge for Digimon Card Game.
    <br>made by WARBEN
  </main>
</Layout>
