---
import QuestionForm from "@/components/QuestionForm";
import Layout from "@/layouts/Layout.astro";
---

<Layout title="AI Judge" slug="home">
  <main>
    <QuestionForm client:only />
  </main>
</Layout>
