---
import QuestionForm from "@/components/QuestionForm";
import Layout from "@/layouts/Layout.astro";
export const prerender = true
---

<Layout title="AI Judge" slug="home">
  <main>
    <QuestionForm client:load />
  </main>
</Layout>
