---
import "@/styles/globals.css";
import QuestionForm from "../components/QuestionForm.jsx";
import Layout from "../layouts/Layout.astro";
---

<Layout title="AI Judge">
  <main>
    <QuestionForm client:load />
  </main>
</Layout>
