---
import "@/styles/globals.css";
import { GET } from "./api/answer.ts";
import QuestionForm from "@/components/QuestionForm.jsx";
import Layout from "../layouts/Layout.astro";

let response = await GET(Astro);
const data = await response.json();
console.log("Hola");
---

<Layout title="AI Judge">
  <main>
    <QuestionForm client:load />
    <h1>{data.greeting} world!</h1>
  </main>
</Layout>
