---
import RulingForm from "@/components/RulingForm";
import Layout from "@/layouts/Layout.astro";
---

<Layout title="AI Judge" slug="rulings">
  <main>
    <RulingForm client:load />
  </main>
</Layout>
