---
import RulingInput from "@/components/RulingInput.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout title="AI Judge" slug="rulings">
  <main>
    <RulingInput />
  </main>
</Layout>
