---
const { isLoggedIn } = Astro.props;
import LogOut from "@/components/LogOut";
---

{
  isLoggedIn ? (
    <LogOut client:load />
  ) : (
    <a
      href="https://udshkibqgjclehtzawhr.supabase.co/auth/v1/authorize?provider=google"
      class="flex-no-grow flex-no-shrink relative py-2 px-4 leading-normal text-foreground no-underline flex items-center hover:bg-background"
    >
      Login
    </a>
  )
}
